body {
    /* background-image: url("/static/images/fonBody.jpeg"); */
    background-color: dimgrey;
    margin: 0px;
    padding: 0px;
}

.color {
    text-align: center;
    color: darkblue;
    font-size: larger;
    font-weight: bolder;
}

.color-pre {
    padding: 10px;
}

.container {
    margin: 0 auto;
    padding: 5px;
    min-height: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerError {
    margin: 0 auto;
    padding: 5px;
    min-height: 1200px;
    justify-content: center;
}

.header {
    margin: 20px auto;
    padding-top: 30px;
    background-image: url("/static/images/fonHeader1.jpg");
    height: 140px;
    border-radius: 0px 50px 70px 100px;
    box-sizing: border-box;
}

.headerError {
    margin: 20px auto;
    padding-top: 30px;
    background-image: url("/static/images/fonHeader1.jpg");
    height: 140px;
    border-radius: 0px 50px 70px 100px;
}

.headerTitle {
    text-align: center;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(255, 255, 255);
}

.filter {
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    background-color: black;
}

.filter-name {
    padding: 15px;
    color: white;
    font-size: xx-large;
    font-weight: 900;
}

.checkbox {
    margin: 5px auto;
    padding: 5px;
    width: 250px;
    background-color: rgb(145, 138, 138);
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: 900;
}

.checkbox:hover {
    color: black;
}

.name-first-album {
    display: none;
}

.name-first-album + label ~ div {
    display: none;
}

.name-first-album:checked + label + div {
    display: block; 
    padding: 10px; 
}

.input {
    text-align: right;
    margin-right: 25px;
}

.input-in {
    width:100px;
    font-size: medium;
    font-weight: 900;
    color: rgb(145, 138, 138);
}

.body {
    width: 600px;
    background-color: rgba(246, 246, 246, 0.479);
}

.answerStyle {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(11, 226, 215);
    height: 300px;
}

.imgPerson {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.colorName {
    margin: 20px;
}

.list {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: brown;
}

.creationDate {
    color: brown;
    font-size: larger;
    font-weight: bolder;
    display: grid;
    text-align: center;
}

.creationDateResult {
    color: darkblue;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.element {
    box-sizing: border-box;
    margin: 5px;
    padding: 18px;
    width: 300px;
    height: 370px;
    text-align: center;
}

p {
    margin: 0px;
}

a {
    margin: 0px;
    padding: 0%;
    text-decoration: none;
}

.elementImg {
    width: 240px;
    height: 240px;
    background-color: rgb(212, 183, 226);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.elementName {
    margin-top: 10px;
}

@media (min-width: 0px) {
    .container {
        width: 305px;
    }

    .header, .headerError {
        padding: 0px;
        width: 310px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 45px;
    }
}

@media (min-width: 310px) {
    .container {
        width: 385px;
    }

    .header, .headerError {
        padding: 0px;
        width: 310px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 45px;
    }
}

@media (min-width: 390px) {
    .container {
        width: 525px;
    }

    .header, .headerError {
        padding: 0px;
        width: 310px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 45px;
    }
}

@media (min-width: 530px) {
    .container {
        width: 625px;
    }

    .header, .headerError {
        padding: 0px;
        width: 350px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 45px;
    }
}

@media (max-width: 630px) {
    .body {
        width: 300px;
    }

    .answerStyle {
        font-size: larger;
        font-weight: bolder;
    }
}

@media (min-width: 630px) {
    .container {
        width: 740px;
    }

    .header, .headerError {
        width: 620px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 750px) {
    .container {
        width: 939px;
    }

    .header, .headerError {
        width: 620px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 940px) {
    .container {
        width: 1099px;
    }

    .header, .headerError {
        width: 930px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1100px) {
    .container {
        width: 1249px;
    }

    .header, .headerError {
        width: 930px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1250px) {
    .container {
        width: 1299px;
    }

    .header, .headerError {
        width: 1240px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1300px) {
    .container {
        width: 1399px;
    }

    .header, .headerError {
        width: 1240px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1559px;
    }

    .header, .headerError {
        width: 1240px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1560px) {
    .container {
        width: 1599px;
    }

    .header, .headerError {
        width: 1550px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1621px;
    }

    .header, .headerError {
        width: 1550px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1622px) {
    .container {
        width: 1684px;
    }

    .header, .headerError {
        width: 1550px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1685px) {
    .container {
        width: 1799px;
    }

    .header, .headerError {
        width: 1550px; 
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1830px;
    }

    .header, .headerError {
        width: 1750px;
    }

    .headerTitle {
        margin-top: 20px;
        font-size: 70px;
    }
}
