<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/musical-note.png" type="image/x-icon">
    <title>Index</title>
</head>
<body>
    <div class="container">
        
        <div class="header">
            <a href="/"><p class="headerTitle">Groupie Tracker</p></a>
        </div> <!-- header -->
        
        <div class="elements">
            {{ range . }}
                <div class="element">
                    <p class="elementImg">
                        <a href="/artists/{{ .ID }}">
                            <img src="{{ .Image }}" alt="nu netu, chto podelat'">
                        </a>
                    </p>
                    <p class="elementName">
                        <a href="/artists/{{ .ID }}" class="link">
                            {{ .Name }}
                        </a>
                    </p>
                </div>  <!-- element -->
            {{ end }}
        </div>  <!-- elements -->
    </div>  <!-- container -->
</body>
</html>